body {
  background-color: rgb(223, 223, 223);
  display: grid;
  place-items: center;
  grid-template-rows: auto 1fr;
  min-height: 95vh;
  font-family: system-ui;
  box-sizing: border-box;
  position: relative;
  margin: 0;
  width: 100%;
}

.container {
  background: rgb(235, 235, 235);
  width: 500px;
  aspect-ratio: 1;
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.2);
  padding: 30px;
}

.game-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 50px;
  gap: 30px;
  height: 100%;
  width: 100%;
}

.game-container .button {
  padding: 0;
}

.game-row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}

.game-cell {
  background-color: white;
  border: 2px solid cornflowerblue;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
}

.game-cell:hover {
  background-color: rgb(245, 245, 245);
}

.game-cell.selected {
  cursor: not-allowed;
}

.input-container {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-rows: auto 1fr;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  width: 100%;
}

.input-container fieldset {
  background: white;
  margin: 30px 0;
  width: auto;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  text-align: left;
}

.input-container input[type="color"] {
  background-color: white;
  cursor: pointer;
  border-radius: 4px;
}

.input-container input[type="color"]:hover {
  background-color: rgb(240, 240, 240);
}

.input-container fieldset label {
  display: block;
  margin-bottom: 10px;
}

.input-container form {
  text-align: center;
}

.button {
  appearance: none;
  background-color: white;
  border: 2px solid cornflowerblue;
  padding: 14px;
  font-weight: 600;
  font-size: 1.4rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.button:hover {
  background-color: cornflowerblue;
  color: white;
}

.hidden {
  display: none;
}

.message {
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 1;
}

.modal {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  width: 100%;
  border-radius: 15px;
  z-index: 2;
}
